* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

.container {
    display: grid;
    grid-template-rows: auto 1fr;
    width: 343px;
    height: 611px;
    margin-top: 30px;
    padding: 24px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
}

.container__image {
    width: 100%;
    border-radius: 10px 10px 0 0;    
    padding: 0;
    margin-bottom: 24px;
}
